@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Ubuntu&display=swap");

#content {
  max-width: 1600px;
  margin: 0 auto;
}

main section img {
  box-sizing: border-box;
}

.mountains {
  margin: 50px 0px;
}

nav a {
  text-align: center;
  color: #344e41;
  text-decoration: none;
  padding: 35px;
}
h4 {
  color: #344e41;
}

#hero-img {
  width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

#logo_link {
  padding-top: 5px;
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #588157;
}

h2 {
  margin: 0;
}

body {
  background-color: #dad7cd;
  font-family: "Roboto Mono", "Sans-Serif", serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a3b18a;
}

nav a:hover {
  background-color: #588157;
  color: #dad7cd;
}

.book,
.join {
  background-color: #a3b18a;
  color: #344e41;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #344e41;
  color: #a3b18a;
}

.msg {
  background-color: #a3b18a;
  color: #344e41;
  line-height: 1.5em;
  padding: 35px;
}

.msg p {
  color: #344e41;
  font-size: 0.8em;
  padding-bottom: 15px;
}

footer {
  background-color: #a3b18a;
  color: #344e41;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
}

footer a {
  color: #3a5a40;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

footer a:hover {
  color: #588157;
}

footer .social img {
  padding-top: 15px;
}
.home-title {
  color: white;
  font-family: "Ubuntu", "Sans-Serif", serif;
  font-size: 2em;
  margin-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0px;
}

.card-img {
  border: solid 10px #588157;
}
