body {
  background-color: rgb(252, 166, 201);
}

h1:hover {
  color: white;
}

#main-container {
  width: 100%;
  height: auto;
  text-align: center;
}

.half-width {
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.quarter-width {
  width: 15%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.left-list {
  text-align: left;
}

.body-elements-small-margin {
  margin-top: 20px;
}

.profile-images {
  width: 30%;
  height: auto;
}

.invisible-text {
  font-size: small;
}

.white-text {
  color: white;
}

.bold-text {
  font-weight: bolder;
}

.quotes {
  font-size: x-large;
}
